.defaultHTML {
    background-color: rgb(35, 121, 121);
    font-family: Arial, Helvetica, sans-serif;
    display: inline-flex;
    justify-content: center;
}

.assignments {
    background-color: rgb(21, 205, 205);
    padding: 1em;
    margin: 1em;
    margin-left: 25vw;
    margin-right: 25vw;
    width: 50vw;
}

.color_3 {
    background-color: rgb(136, 95, 5);
}

#assign3_html {
    background-color: rgb(91, 43, 1);
}

h1 {
    background-color: rgb(192, 225, 254);
    padding: .2em;
    margin: 5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;

}

p, h2, a {
    background-color:  rgb(192, 225, 254);
    padding: .2em;
}

img {
    max-width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

#intro_desc{
    background-color: blanchedalmond;
}

